/* rojo */
$colorPrimary: rgba(255, 0, 0, 0.8);
/* Gris */
$colorSecondary: rgba(128, 128, 128, 0.9);
/* Naranja */
$colorNaranja: rgba(255, 165, 0, 1);
/* Amarillo */
$colorAmarillo: rgba(255, 255, 0, 1);

$colorFondoBlanco: #e0e0e0;
$colorBlanco: #ffffff;
$colorBlancoRelax: #eee6e6;
$colorNegro: #000000;
$colorNegroRelax: #222;

$colorBlueDarken4: #0d47a1;

$separacion: 2rem;

$redondeo: 1rem;